.treeNode
{
    position : relative ;
    margin-left : 23px ;
}
.treeNodeName:hover
{
    background : azure ;
    cursor : pointer
}
.treeNodeContentDisplay
{
    position : relative ;
    overflow : hidden
}
.treeNodeContentHidden
{
    position : relative ;
    overflow : hidden
}